
/* Mobile first */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
}

h1 {
    font-weight: normal;
    font-size: 20pt;
}

h2 {
    font-weight: normal;
    font-size: 18pt;
}

h3 {
    font-weight: normal;
    font-size: 14pt;
}

p {
    font-size: 10pt;
}

.container {
    width: 80vw;
    margin: auto;
    
}

.overmeny {
    display: none;
}

.overmeny-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbarstor {
    display: none;
}

#reklamstycke-bild {
    display: none;
}

#infostycke-bild {
    display: none;
}

.storskarm {
    display: none;
}

.mobilskarm {
    display: block;
}

/* Topmenyn */

.topnav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    width: 100%;
}


.huvudmeny {
    display: flex;
    justify-content: space-between;
    
}

.logga > img {
    height: 4rem;
}

.burgarmeny {
    font-size: 3rem;
    color:#2baaec;
    width: 100%;
}


/* Burgarmenysidan */
.klockaochtider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.klocka {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.oppetider {
    text-align: right;
    font-size: 11pt;
    font-style: 'Roboto';
    color: #363636;
}

.meny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.burgarknappar {
    background-color: #2baaec;
    border:#2baaec;
    border-radius: 15px;
    width: 70%;
    height: 60px;
    margin-top: 1rem;
  
}

.burgarknappar > a {
    text-decoration: none;
    color:#f3fbff;
    font-size: 14pt;
    font-weight: bold;
}


/* Sociala medier */
.smiconer {
    color:#2baaec;
    font-size: 20pt;
    padding-top: 2rem;
    
}

.SM {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.smiconer:hover {
    color: #25e6c8;
}

/* Footer */
.footer {
    display: flex;
    background-color:#2BAAEC;
    color: #f3fbff;
    text-align: center;
    justify-content: center;
    font-style:'Roboto Slab';
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Gråbox hemskärm */
.box1 {
    background-color:#DEDEDE;
    padding-top: 2rem;
}

.reklamstycke {
    text-align: center;
}

.reklamstycke p {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.graknapp {
    background-color:#25e6c8;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
}

.graknapp > a {
    text-decoration: none;
    color:#f3fbff;
    font-size: 11pt;
    font-weight: bold;
}

.graknapp:hover {
    background-color:#2baaec;
}

/* infobox hemskärm */
.box2 {
    padding-top: 2rem;
}

.infostycke {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom: 2rem;
}

.infostycke  h2 {
    text-align: center;
    padding-top: 2rem;
}

.infostycke  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infostycke  hr {
    background-color:#25e6c8;
    height: 2px;
    border: none;
    margin-top: 1rem;
}

.siffror {
    display: flex;
    justify-content: space-between;
}

.s {
    margin-top: 1rem;
}

.s > h3 {
    color: #2baaec;
}

.s > p {
    font-size: 8pt;
}

/* our services */

.box3 {
    background-color:#F7F7F7;
}

.servicebox {
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vw;
    margin-top: 2rem;
    border-radius: 10px;
}

.servicebox > a {
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vw;
    margin-top: 2rem;
    border-radius: 10px;
}

.servicebox:hover {
    box-shadow:0px 10px 30px #0000002f;
}


.servicebox:hover > a > .cirkel {
    background-color: #2BAAEC;
    box-shadow:0px 0px 0px 12px rgba(43, 168, 236, 0.279);
}


.img2 {
    height: 19vw;
}

.servicebox > a {
    text-decoration: none;
    text-align: center;
    color:#626262;
    margin: 0;
}

.servicebox > a > h3 {
    padding-top: 1rem;
}

.servicebox > a > p {
    padding: 0.5rem;
}

.cirkel {
    width: 35vw;
    height: 35vw;
    background-color: #25e6c8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Bokning idag över footer */
.box4 {
    background-color:#4EB4E8;
}

.bokning {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f7f7f7;
    flex-direction: column;
}

.bottenknapp {
    background-color: #f7f7f7;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bottenknapp > a {
    text-decoration: none;
    color:#2BAAEC ;
}

.bottenknapp:hover {
    background-color: transparent;
    border:2px solid #f7f7f7;
}

.bottenknapp:hover > a {
    color:#f7f7f7;
}

/* Storskärm */
@media (min-width: 700px ) {
    .hide-burgarmeny {
        display: none;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: center;
        width: 100%;
    }

    .logga {
        display: flex;
        padding: 0;
    }

    .overmeny {
        border-bottom: 1px solid #707070;
        display: block;
    }

    .klockaotider {
        display:flex;
    }

    .smiconer2 {
        color:#2baaec;
        font-size: 1rem;
        display: flex;
        gap: 2rem;
    }
    
    .sminc {
        color:#2baaec;
        font-size: 1rem;
    }

    .sminc:hover {
        color: #25e6c8;
    }

    .navbarstor {
        display: flex;
        gap: 3rem;
    }

    .nav-link {
        text-decoration: none;
        color: #363636;
        font-size: 10pt;
    }


    .reklamstycke {
       display: flex;
       justify-content: space-between;
       text-align: left;
    }

    #reklamstycke-bild {
        flex: 1;
        display: block;
    }

    #reklamstycke-bild > img {
        margin-bottom: -0.28rem;
    }

    #reklamstycke-text {
        padding-top: 5rem;
        padding-left: 5rem;
        flex: 1;
    }

    .infostycke {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    #infostycke-text {
        flex: 1;
        text-align: left;
        padding-top: 5rem;
        padding-right: 5rem;
    }

    #infostycke-text hr {
        background-color:#25e6c8;
        height: 2px;
        border: none;
        margin-top: 1rem;
    }

    .bokning {
        display: flex;
        justify-content: space-between;
        text-align: left;
        color: #f7f7f7;
        flex-direction: row;
        align-items: center;
    }
    
    .bottenknapp {
        background-color: #f7f7f7;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        text-align: center;
        display: inline-block;  
    }

    .storskarm {
        display: block;
    }

    .mobilskarm {
        display: none;
    }

    .rutor {
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .rutor hr {
        width: 30vw;
        background-color:#25e6c8;
        height: 2px;
        border: none;
        margin-top: 1rem;
    }

    .rutor h2 {
        padding-top: 5rem;
    }

    .servicebox {
        background-color:#ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 20vw;
        width: 20vw;
        border-radius: 10px;
    }

    .cirkel {
        width: 8vw;
        height: 8vw;
        background-color: #25e6c8;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img2 {
        height: 5vw;
    }

    .kort {
        display: grid;
        column-gap: 2rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        


    }
    
    

    
   

    
}





